.PopupMessage {
  // position: fixed;
  border-radius: 4px;
  pointer-events: none;
  user-select: none;
  background: white;
  padding: 5px;
  transition: 0.125s opacity ease;
  font-size: 12px;

  &-showed {
    opacity: 1;
  }

  &-hidden {
    opacity: 0;
  }
}