.Album {
  &-title {
    font-weight: bold;
  }

  &-caption {
    font-style: italic;
  }

  &-pages {
    margin-top: 10px;
    position: relative;

    &-row {
      display: flex;
      text-align: center;
      margin-top: 7px;

      &-frame {
        border: 3px solid #ccc;
        background: #eee;
        padding: 5px;
        width: 250px;

        &-caption {
          font-size: 12px;
          font-weight: bold;
        }
      }
    }

    &-more {
      display: flex;
      justify-content: center;
      align-items: center;

      &-text {
        font-style: italic;
        cursor: pointer;
      }

      &-text:hover {
        text-decoration: underline;
      }
    }
  }
}

.Image {
  cursor: pointer;
  
  &-landscape {
    width: 250px;
    height: auto;
  }

  &-portrait {
    height: 250px;
    width: auto;
    margin: auto;
  }
}

@media only screen and (min-width: 634px) {
  .Album-pages {
    &-row-frame {
      margin-right: 5px;
    }

    &-more {
      position: absolute;
      right: 0;
      top: 62px;
      transform: translateX(100%);
    }
  }
}

@media only screen and (max-width: 634px) {
  .Album-pages {
    &-row {
      display: inline;

      &-frame {
        margin: auto;
        margin-bottom: 5px;
      }
    }

    &-more {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}