.Album {
  &-title {
    font-weight: bold;
  }

  &-caption {
    font-style: italic;
  }

  &-pages {
    margin-top: 10px;
    display: flex;

    &-frame {
      border: 3px solid #ccc;
      background: #eee;
      padding: 5px 5px 0 5px;
      cursor: pointer;
      width: 250px;

      &-image {
        width: 250px;
      }
    }

    &-more {
      display: flex;
      justify-content: center;
      align-items: center;

      &-text {
        font-style: italic;
        cursor: pointer;
      }

      &-text:hover {
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (min-width: 634px) {
  .Album-pages-frame {
    margin-right: 5px;
  }
}

@media only screen and (max-width: 634px) {
  .Album-pages {
    display: inline;

    &-frame {
      margin: auto;
      margin-bottom: 5px;
    }
  }
}