@import '../../basic.scss';

.Layout {  
  background: linear-gradient(175deg, #fff, #c5edf8);
}

.Content {
  display: flex;
  justify-content: space-between;
  // 2 times header padding for top and bottom
  min-height: calc( 100vh - #{$header-height} - #{$header-padding} - #{$header-padding} );
  max-width: $pc-width;
  margin: 10px auto;
}