@import '../../basic.scss';

.Header {
  min-height: $header-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $header-padding 0;

  &-title {
    font-size: 36px;
    font-weight: bold;
    color: white;
  }

  &-subtitle {
    font-size: 18px;
    color: white;
    text-align: center;
  }

  &-snowflake {
    color: darken($light-blue-0, 20%);
  }
}