$light-blue-0: #d7f5fc;
$light-blue-1: #c5edf8;
$dark-blue-0: #031d53;
$dark-blue-1: #091349;
$dark-blue-2: #01147b;

$text-dark-blue: #2c4aa1;

$header-height: 60px;
$header-padding: 15px;

$pc-width: 830px;

// refreshing-bali-2020
$refreshing-bali-2020: #b3ffee;
$refreshing-bali-2020-lighten: #e6ffff;

// luxury-bali-2019
$luxury-bali-2019: #b6e5e6;
$luxury-bali-2019-lighten: #dcf3f3;

// spring-japan-2018
$spring-japan-2018: #fcd1d7;
$spring-japan-2018-lighten: #fddfe3;

// explore-singapore-2018
$explore-singapore-2018: #6ae0f5;
$explore-singapore-2018-lighten: #82e5f7;
