$light-blue-0: #d7f5fc;
$light-blue-1: #c5edf8;
$dark-blue-0: #031d53;
$dark-blue-1: #091349;
$dark-blue-2: #01147b;

$text-dark-blue: #2c4aa1;

$header-height: 60px;
$header-padding: 15px;

$pc-width: 830px;

// luxury-bali-2019
$blue-lux: #b6e5e6;
$blue-lux-lighten: #dcf3f3;

// spring-japan-2018
$pink-sakura: #fcd1d7;
$pink-sakura-lighten: #fddfe3;

